::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}  
::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 2px;
    border: 1px dotted #f8bbba;
}
::-webkit-scrollbar-thumb {
    background: #FFD7D8; 
    border-radius: 10px;
} 
::-webkit-scrollbar-thumb:hover {
    background: #f5a4a3;  
}

#back_1{
    width: 50px;
}
#back{
    position: absolute;
    left: 10px;
    top: 65px;
}
.main{
    overflow: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.picture{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    display: flex;
    margin-top: 25px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
}
.picture_1{
    width: 60%;
    height: 42vw;
    background-color: azure;
    border: 2.5px solid pink;  
    margin-left: auto;
    margin-right: auto;
}
.caption_1{
    width: 60%;
    background-color: #c4c4c4;
    border: 2.5px solid pink;
    margin-left: auto;
    margin-right: auto;
}
.cap_1{
    width: 90%; 
    margin-right: 10px;
}
.cap_3{
    width: 90%;
}
.cap_4{
    margin-top: 20px;
}
.ava{
    width: 50px;
}
.vote_1{
    width: 50px;
}
.count_vote{
    margin-left: 15px;
}
.cmt, .ava_user{
    margin-right: 10px;
}
.cot1{
    width: 90%;
}
#comment{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.my_cmt{
    width: 100%;
    height: 110px;
    background-color: #c4c4c4;
    display: flex;
    margin-top: 20px;
    border: 1px solid pink;
}
.my_profile{
    margin-top: 25px;
}
form{
    display: flex;
    flex-direction:row;
    width: 80%;
}
.my_cmt_1{
    margin-top: 25px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.my_submit{
    height: 50px;
    margin-top: 27px;
    margin-left: 50px
}
.all_cmt{
    border: 1px solid pink;
    width: 100%;
    height: 500px;
    background-color: #c4c4c4;
    overflow: auto;
    
}
.all_cmts{
    display: flex;
    flex-direction: row;
}
.cmt_user{
    width: 80%;
    background-color: white;
    border-radius: 5px;
}
.cmt_user p{
    margin-left: 20px;
}

.a_cmt li{
    margin-top: 45px;
}
.an_cmt{
    width: 100%;
    background-color: #c4c4c4;
    border: 1px solid pink;
}
p{
    word-wrap: break-word;
}
.edit_delete{
    margin-left: 5px;
}
.edit input{
    width: 60px;
    height: 30px;
    font-size: 10px;
    margin-left: 5px;
}
.edit input:hover{
    cursor: pointer;
}

@media (max-width: 480px){
    .main{
        height: 85vh;
    }
    #back_1{
        width: 35px;
    }
    .ava{
        width: 30px;
    }
    .vote_1{
        width: 30px;
    }
    .picture_1{
        width: 70%;
    }
    .caption_1{
        width: 70%;
    }
    .cap_1{
        margin-right: 0px;
    }
    
    .count_vote{
        margin-top: 0;
        margin-bottom: 0;
    }
    .cap_4{
        margin-top: 0;
    }
    ul{
        margin-left: -15px;
    }
    .my_submit{
        margin-left: 5px;
    }
    .all_cmt{
        height: 310px;
    }
}
@media (min-width: 500px){
    .main_1{
        width: 65%;
        height: 85vh;
    }
    
    
    
}
