.search{
    width: 50%;
    height: 60px;
    background-color: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

#search_2 img{
    width: 30px;
    margin-left: 10px;
}

#search_1{
    border: none;
    width: 50%;
    height: 60%;
    border-radius: 5px;
    border: 1px solid pink;
}
.up_nf{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #c4c4c4;
    border: 1px solid pink;
}
.caption_1{
    margin-bottom: 20px;
}
#profile_2{
    width: 80px;
}
textarea{
    height: 55px;
    width: 80%;
    overflow: auto;
}

#choose_p{
    
    font-size: 15px;
}
#pic_1{
    width: 60px;
    height: 50px;
    background-color: none;
    display: none;
    margin-left: 10px;
}
#pic_1 img{
    width: 60px;
    height: 50px;
}

#remove{
    margin-top: -15px;
    margin-right: 10px;
    margin-left: 10px;
    font-size : 15px;
    display: none;
}
.an_cmt{
    margin-bottom: 50px;
}

@media (max-width: 580px){
    .search{
        width: 70%;
    }
    #search_1{
        width: 80%;
        height: 40%;
    }
    .up_nf{
        width: 85%;
        height: 65px;
        
    }
    #profile_2{
        width: 40px;
    }
    textarea{
        height: 40px;
        width: 75%;
    }
    #choose_p{
        font-size: 5px;
    }
    #remove{
        font-size: 10px;
        display: none;
    }
    #pic_1{
        width: 40px;
        height: 30px;
        background-color: aqua;
        display: none;
    }
    #pic_1 img{
        width: 40px;
        height: 30px;
    }

}