*{
    font-family: aria;
    font-size: 20px;
    color: black;
}
body{
    background-image: url(../Picture/furley_bg.png);
    background-size:  cover;
    
}

.icon_h{
    width: 20px;
    margin-left: 5px;
}


.header{
    height: 60px;
    width: 100%;
    background-color: #F1A0A0;
    position: relative;
    top: 0px;
    display: flex;
}
.header ul{
    display: flex;
}

.home, .feed, .bell, .login, .register, .user{
    background: none;
    border: 0px;
}
.register{
    position: absolute;
    right: 10px;
}
.login{
    position: absolute;
    right: 50px;
}
.bell{
    position: absolute;
    right: 90px;
}
.user{
    position: absolute;
    right: 10px;
    display: none;
}
#user{
    position: absolute;
    right: 60px;
    display: none;
}

.home img{
    width: 55px;
    position: relative;
    top: -19px;
}
.feed img{
    width: 27px;
    position: relative;
    top: -4px;
    left: -10px;
}
.bell img{
    width: 27.4px;
    position: relative;
    top: -4px;
}
.register img{
    margin-left: 10px;
}
.user img{
    width: 35px;
    position: relative;
    top: -2px; 
}

.footer{
    width: 100%;
    font-size: 15px; 
    position: absolute;
    bottom: 0px;
}

#notificationContainer 
{
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    right: 16px;
    top: 60px;
    margin-left: -170px;
    width: 400px;
    z-index: 0;
    display: none; 
}
// Popup Arrow
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}
#notificationTitle
{
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
    padding: 33px 0px 0px 0px !important;
    min-height:300px;
}
#notificationFooter
{
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notification_count
{
    padding: 3px 7px 3px 7px;
    background: #cc0000;    
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    right: 107px;
    margin-top: -11px;
    font-size: 11px;
}
@media (max-width:480px){
    .tenweb{
        font-size: 15px;
    }
    .icon_h{
        width: 20px;
        margin-left: 0px;
    }
    #notificationContainer{
        width: 200px;
    }
    #notificationTitle{
        width: 184px;
    }
    #notificationsBody{
        min-height: 100px;
    }
}





