.userbox{
    width: 90%;
    height: auto;
    background: #fff;
    color: #fff;
    box-sizing: border-box;
    z-index: 2;
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
.userbox .box_left{
    text-align: center;
    overflow:hidden;
    width:41.5%;
    height:100%;
    z-index: 1;
}
.save{
    display: block;
    position: relative;
    z-index: 6;
}
.save img{
    width: 50px;
}
.userbox .box_left .avatar_name{
    font-size:20px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.userbox .box_left .avatar{ 
    width:70%;
    height:70%;
}
.userbox .box_right{
    text-align: center;
    padding-left: 7%;
    width:51%;
    height:100%;
    display: flex;
    flex-direction: column;
    z-index: -5;
}
.userbox .box_right .infor{
    padding-top: 5%; 
    margin-right: auto;
    width: 80%;
    text-align: left;
    z-index: -3;
}
.infor p, .infor h4{
    font-size: 25px;
}
#introduce{
    font-size: 25px;
}
.userbox .box_right button{
    
    width:300px;
    height: 60px;
    transition-duration: 0.4s;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    background: #FFE0E0;
    color: #000;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 15px;
    display: block;
    position: relative;
    z-index: 5;
}
.userbox .box_right .button:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.vertical_line {
  border-left: 3px solid darkgrey;
  color: black;
  width: 2px;
}
.icon_back{
    position: absolute;
    width: 35px;
    top: 15px;
    right: 1430px;
}
.icon_edit{
    position: absolute;
    width: 35px;
    top: 280px;
    right: 20px;
}
.number_pictures{
    position: absolute;
    left: 800px;
    top: 100px;
    font-size: 35px;
}
.number_followed{
    position: absolute;
    left: 1100px;
    top: 100px;
    font-size: 35px;
}
.view_pictures{
    position: absolute;
    left: 755px;
    top: 190px;
    font-size: 35px;
    text-decoration:none;
}
.view_followed{
    position: absolute;
    left: 1055px;
    top: 190px;
    font-size: 35px;
    text-decoration:none;
}
.background_pic{
    position: absolute;
    width: 500px;
    height: 300px;
    top: 340px;
    left: 530px;
}
.button_logout{
    border: none;
    padding: 16px 32px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    background: #FFE0E0;
    color: #000;
    height: 50px;
    width: 130px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    z-index: 5;
    
}
#logout{
    margin-left: auto;
}
#ava{
    margin-right: auto;
}
.button_logout:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
#a2{
    display: none;
}
#a2 form{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#a2 form input[type="file"]{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 125px;
}
#a2 form input[type="submit"]{
    margin-right: 15px;
    background-color: #FFE0E0;
}
#a2 form input[type="submit"]:hover{
    background-color: #ffc107;
    cursor: pointer;
}
#a2 form button{
    background-color: #FFE0E0;
}
#a2 form button:hover{
    background-color: #ffc107;
    cursor: pointer;
}
.b{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:480px){
    .userbox{
        height: auto;
    }
    .infor p, .infor h4{
        font-size: 10px;
    }
    #introduce{
        font-size: 10px;
    }
    #a2 form input[type="file"]{
        font-size: 10px;
    }
    #a2 form input[type="submit"]{
        width: 25px;
        height: 20px;
        font-size: 8px;
        padding: 0;
    }
    #a2 form button{
        width: 25px;
        height: 20px;
        font-size: 8px;
        padding: 0;
    }
    .button_logout{
        font-size: 12px;
        height: 20px;
        padding: 0;
        
    }
    .userbox .box_right button{
        width: 100px;
        height: 20px;
        font-size: 10px;
    }
    .userbox .box_left .avatar{ 
        width:80px;
        height:80px;
    }
    .userbox .box_left .avatar_name{
        font-size: 15px;
    }
    .userbox .box_left .save .icon_save{
        width: 15px;
    }
}

